<h1>How is it going?</h1>

<%= link_to image_tag("red.png"), lights_url(:light => {:color => "red", :topic_id => params[:topic_id], :enrollment_id => params[:enrollment_id], :student_id => params[:student_id]  }), :method => 'post' %><br/>
<%= link_to image_tag("green.png"), lights_url(:light => {:color => "green", :topic_id => params[:topic_id]}), :method => 'post' %><br/>
<%= link_to image_tag("blue.png"), lights_url(:light => {:color => "blue", :topic_id => params[:topic_id]}), :method => 'post' %><br/>
